spring:
  jackson:
    property-naming-strategy: SNAKE_CASE
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: {{GOOGLE_CLIENT_ID}}
            client-secret: {{GOOGLE_CLIENT_SECRET}}
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            authorization-grant-type: authorization_code
            scope: profile, email
          kakao:
            client-id: {{KAKAO_CLIEND_ID}}
            client-secret: {{KAKAO_CLIENT_SECRET}}
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post
            client-name: Kakao
            scope:
              - profile_nickname
              - account_email
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: email
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

  datasource:
    url: jdbc:postgresql://{{DATASOURCE_URL}}
    driver-class-name: org.postgresql.Driver
    username: {{DB_USERNAME}}
    password: {{DB_PASSWORD}}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

jwt:
  secret: {{JWT_SECRET}}
  cookie-secure: true
  # redirect-url: {{REDIRECT_URL}}
  # redirect-url-failed: {{REDIRECT_URL_FAILED}}
  redirect-url: {{LOCAL_REDIRECT_URL}}
  redirect-url-failed: {{LOCAL_REDIRECT_URL_FAILED}}


aws:
  s3:
    access-key: {{AWS_ACCESS_KEY}}
    secret-key: {{AWS_SECRET_ACCESS_KEY}}
    end-point: https://s3.ap-northeast-2.amazonaws.com
    region: ap-northeast-2
    bucket-name: {{AWS_IMAGE_BUCKET_NAME}}
    user-rawdata-bucket-name: {{AWS_USER_RAWDATA_BUCKET_NAME}}

front-server:
  url: {{FRONT_SERVER_URL}}

apikey:
  vworld:
    conformKey: {{VWORLD_CONFORM_KEY}}
  juso:
    search:
      conformKey: {{JUSO_CONFORM_KEY}}
